{:kotoba.app/id "cloud.itonami.isic-2720", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihguyz25g3vu6wrxhoh44nix6rlwm2qqx43vzfykrfgpy4fhp3tfq", :kotoba.app/embed-url "ipfs://bafkreihguyz25g3vu6wrxhoh44nix6rlwm2qqx43vzfykrfgpy4fhp3tfq", :published {:archive "https://kotobase.net/ipfs/bafkreihguyz25g3vu6wrxhoh44nix6rlwm2qqx43vzfykrfgpy4fhp3tfq", :size 72728, :put-status 201, :get-status 200, :at "2026-08-15T13:41:31.777Z"}}
